<%- include('partials/head') %>

	<body>
		<h1>All the Dogs </h1>
		<ul>
			<p>
				<% for(let dog of dogs) {%>
					<li>
						<%= dog %>
					</li>
					<% } %>
			</p>
		</ul>
		<%- include('partials/footer') %>