<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
</head>

<body>
	<h1>The home page <%= 2 + 3 %></h1>
	<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi, mollitia doloremque tenetur deleniti,
		perspiciatis enim architecto ex laudantium odio odit atque beatae, illo aut ut vel pariatur earum quod! Ad.</p>

	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero asperiores nulla quam reiciendis, aut modi natus
		odio culpa, labore numquam ducimus inventore expedita neque dignissimos, cum saepe corporis cumque voluptatem?
	</p>
</body>

</html>
